@*<!-- Home slider -->
<section class="p-0">
    <div class="slide-1 home-slider">
        <div>
            <div class="home  text-center">
                <img src="~/Assets/User/img/banner.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <a href="#" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div class="container">
        <div class="row">


            @*<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">*@
            <div id="carousel1" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
                    <li data-target="#carousel1" data-slide-to="1" class=""> </li>
                    <li data-target="#carousel1" data-slide-to="2" class=""> </li>
                    <li data-target="#carousel1" data-slide-to="3" class=""> </li>
                    <li data-target="#carousel1" data-slide-to="4" class=""> </li>
                </ol>
                <div class="carousel-inner">

                    <div class="item">
                        <img class="img-responsive" src="~/Assets/User/img/20210416-banner.png" alt="thumb">
                    </div>

                    <div class="item active">
                        <img class="img-responsive" src="~/Assets/User/img/banner-hn-1.png" alt="thumb">
                    </div>

                    <div class="item">
                        <img class="img-responsive" src="~/Assets/User/img/banner-hn-2.png" alt="thumb">
                    </div>

                    <div class="item">
                        <img class="img-responsive" src="~/Assets/User/img/SHB_MC_Sinh-Nhat-vui_Banner-Web.jpg" alt="thumb">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="icon-prev"></span></a> <a class="right carousel-control" href="#carousel1" data-slide="next"><span class="icon-next"></span></a>
            </div>
        </div>
    </div>
    <hr>

</section>
<!-- Home slider end -->
<!-- collection banner -->
@*<section class="pb-0 ratio2_1">
    <div class="container">
        <div class="row partition2">
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="img-part">
                            <img src="~/Assets/User/img/gau-bong-tang-ban-gai-4.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="img-part">
                            <img src="~/Assets/User/img/gau-bong-tang-be-yeu-2.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>*@
<!-- collection banner end -->
<!-- Paragraph-->
<div class="title1 section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner1">THÚ NHỒI BÔNG</h2>
</div>
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    @foreach (var item in ViewBag.ListThu)
                    {
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="front">
                                    @{
                                        var path = item.PRIMARY_IMAGE;
                                    }
                                    <a href="@Url.Action("Details","Product",new { id=item.ID})">
                                        <img src="@Url.Content(path)"
                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="@Url.Action("Details","Product",new { id=item.ID})">
                                        <img src="@Url.Content(path)"
                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                    </a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <button data-toggle="modal" data-target="#addtocart"
                                            title="Add to cart">
                                        <i class="ti-shopping-cart"></i>
                                    </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                        <i class="ti-heart" aria-hidden="true"></i>
                                    </a> <a href="#"
                                            data-toggle="modal" data-target="#quick-view" title="Quick View">
                                        <i class="ti-search" aria-hidden="true"></i>
                                    </a> <a href="compare.html" title="Compare">
                                        <i class="ti-reload"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-detail">
                                @*<div class="rating">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                </div>*@
                                <a href="product-page(no-sidebar).html">
                                    <h6>@item.NAME</h6>
                                </a>
                                <h4>
                                    <del>
                                        @item.PRICE,000đ
                                    </del><span>@item.DISCOUNT% off</span>
                                </h4>
                                <h3>@(item.PRICE * (100 - item.DISCOUNT) / 100).000 VNĐ</h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<div class="title1 section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner1">THỜI TRANG & PHỤ KIỆN</h2>
</div>
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    @foreach (var item1 in ViewBag.ListThu2)
                    {
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="front">
                                    @{
                                        var path = item1.PRIMARY_IMAGE;
                                    }
                                    <a href="@Url.Action("Details","Product",new { id=item1.ID})">
                                        <img src="@Url.Content(path)"
                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="@Url.Action("Details","Product",new { id=item1.ID})">
                                        <img src="@Url.Content(path)"
                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                    </a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <button data-toggle="modal" data-target="#addtocart"
                                            title="Add to cart">
                                        <i class="ti-shopping-cart"></i>
                                    </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                        <i class="ti-heart" aria-hidden="true"></i>
                                    </a> <a href="#"
                                            data-toggle="modal" data-target="#quick-view" title="Quick View">
                                        <i class="ti-search" aria-hidden="true"></i>
                                    </a> <a href="compare.html" title="Compare">
                                        <i class="ti-reload"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-detail">
                                @*<div class="rating">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                </div>*@
                                <a href="product-page(no-sidebar).html">
                                    <h6>@item1.NAME</h6>
                                </a>
                                <h4>
                                    <del>
                                        @item1.PRICE,000đ
                                    </del><span>@item1.DISCOUNT% off</span>
                                </h4>


                                <h3>@String.Format("{0:0,0}", (item1.PRICE * (100 - item1.DISCOUNT) / 100) * 1000) VNĐ</h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<div class="title1 section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner1">VĂN PHÒNG PHẨM</h2>
</div>
<!-- Product slider -->
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    @foreach (var item2 in ViewBag.ListThu3)
                    {
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="front">
                                    @{
                                        var path = item2.PRIMARY_IMAGE;
                                    }
                                    <a href="@Url.Action("Details","Product",new { id=item2.ID})">
                                        <img src="@Url.Content(path)"
                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="@Url.Action("Details","Product",new { id=item2.ID})">
                                        <img src="@Url.Content(path)"
                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                    </a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <button data-toggle="modal" data-target="#addtocart"
                                            title="Add to cart">
                                        <i class="ti-shopping-cart"></i>
                                    </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                        <i class="ti-heart" aria-hidden="true"></i>
                                    </a> <a href="#"
                                            data-toggle="modal" data-target="#quick-view" title="Quick View">
                                        <i class="ti-search" aria-hidden="true"></i>
                                    </a> <a href="compare.html" title="Compare">
                                        <i class="ti-reload"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-detail">
                                @*<div class="rating">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                </div>*@
                                <a href="product-page(no-sidebar).html">
                                    <h6>@item2.NAME</h6>
                                </a>
                                <h4>
                                    <del>
                                        @item2.PRICE,000đ
                                    </del><span>@item2.DISCOUNT% off</span>
                                </h4>


                                <h3>@String.Format("{0:0,0}", (item2.PRICE * (100 - item2.DISCOUNT) / 100) * 1000) VNĐ</h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<div class="title1 section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner1">HOT TREND</h2>
</div>

<!-- Paragraph-->
<!-- Product slider -->
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    @foreach (var item in ViewBag.ListThu4)
                    {
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="front">
                                    @{
                                        var path = item.PRIMARY_IMAGE;
                                    }
                                    <a href="@Url.Action("Details","Product",new { id=item.ID})">
                                        <img src="@Url.Content(path)"
                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="@Url.Action("Details","Product",new { id=item.ID})">
                                        <img src="@Url.Content(path)"
                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                    </a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <button data-toggle="modal" data-target="#addtocart"
                                            title="Add to cart">
                                        <i class="ti-shopping-cart"></i>
                                    </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                        <i class="ti-heart" aria-hidden="true"></i>
                                    </a> <a href="#"
                                            data-toggle="modal" data-target="#quick-view" title="Quick View">
                                        <i class="ti-search" aria-hidden="true"></i>
                                    </a> <a href="compare.html" title="Compare">
                                        <i class="ti-reload"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-detail">
                                @*<div class="rating">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                </div>*@
                                <a href="product-page(no-sidebar).html">
                                    <h6>@item.NAME</h6>
                                </a>
                                <h4>
                                    <del>
                                        @item.PRICE,000đ
                                    </del><span>@item.DISCOUNT% off</span>
                                </h4>


                                <h3>@String.Format("{0:0,0}", (item.PRICE * (100 - item.DISCOUNT) / 100) * 1000) VNĐ</h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
